@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

::-webkit-scrollbar {
  width: 0.5vh;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #f5c518;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5c518;
}

@media (max-width: 768px) {
  .contact{
    display: none;  
  }
}